input,
textarea {
   display: block;
   padding: 5px;
   margin: 10px 0;
   width: 280px;
   height: 30px;
   border: 1px solid #26262b;
   outline: none;
   background: #19191b;
   border-radius: 4px;
   resize: none;
   font-size: 12pt;
   color: rgb(51, 51, 51);
   font-weight: bold;
}

textarea {
   height: 70px;
}

.submit {
   width: 120px;
   height: 40px;
   background-image: linear-gradient(90deg, #0890ea 0%, #19da83 100%);
   background-size: 150%;
   cursor: pointer;
   transition: all .3s ease;
}

.submit:hover {
   transition: all .3s ease;
   background-position: right center;
}