header {
   width: 100%;
   height: 100vh;
   background: url(../../img/blob.svg);
   background-repeat: no-repeat;
   background-size: auto 350px;
   background-position: 50%;
   position: relative;

   color: white;
   font-size: 40pt;
   font-family: 'Monoton';
   display: flex;
   justify-content: center;
   align-items: center;
}

header::after {
   content: '';
   position: absolute;
   top: 5%;
   left: 10%;
   background: url(../../img/squar.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 88px;
   height: 100px;
   animation: squareAnim 8s ease infinite alternate;
}

header::before {
   content: '';
   position: absolute;
   bottom: 5%;
   right: 10%;
   background: url(../../img/triangle.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 100px;
   height: 78px;
   animation: triangleAnim 8s ease infinite alternate;
}

@keyframes squareAnim {
   0% {
      transform: rotate(0deg);
      transform: translateY(0);
   }
   100% {
      transform: rotate(30deg);
      transform: translateY(100px);
   }
}

@keyframes triangleAnim {
   0% {
      transform: rotate(0deg);
      transform: translateY(0px);
   }
   100% {
      transform: rotate(30deg);
      transform: translateY(-100px);
   }
}